version: 2
updates:

  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 99
    labels:
    - dependencies
    - third-party

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 99
