// TEXT COLORS
$text-primary: #1226AA;
$text-secondary: #2A2A2A;
$text-tertiary: #fff;
$header-primary: #1226AA;
$header-secondary: #1226AA;
$header-tertiary: #1226AA;

// OTHER COLORS
$btn-color: #1226AA;
$bg-primary: #fff;
$bg-secondary: #1226AA;
$bg-tertiary: #10CFC9;
$border-color: #e6e6e6;

// TEXT FONTS
$font-primary: Nunito, sans;
$font-secondary: 'Outfit', sans;
$font-feed-size: 16px;
